<%= form_for(@user, :html => {:multipart => true}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Imię" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :sec_name, "Nazwisko" %><br />
    <%= f.text_field :sec_name %>
  </div>
  <div class="field">
    <%= f.label :email, "Email" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :email_confirmation, "Powtórz email" %><br />
    <%= f.text_field :email_confirmation %>
  </div>
  <div class="field">
    <%= f.label :pass, "Hasło" %><br />
    <%= f.password_field :pass %>
  </div>
  <div class="field">
    <%= f.label :pass_confirmation, "Powtórz hasło" %><br />
    <%= f.password_field :pass_confirmation %>
  </div>  
  <div class="field">
    <%= f.label :nrdziennika, "Nr w dzienniku" %><br />
    <%= f.text_field :nrdziennika %>
  </div>
  <div class="field">
    <%= f.label :nrtel, "Nr telefonu" %><br />
    <%= f.text_field :nrtel %>
  </div>
  
  <div class="field">
    <%= f.label :photo, "Avatar" %>
    <%= f.file_field :photo %>
   </div>
  <div class="actions">
    <%= f.submit 'Wyślij' %>
  </div>
<% end %>
