<h1>Listing users</h1>
<% @users.each do |user| %>
<ul>
 <li>Imię: <span><%= user.name %></span></li>
 <li>Nazwisko: <span><%= user.sec_name %></span></li>
 <li>Nr w dzienniku: <span><%= user.nrdziennika %></span></li>
 <li>Numer telefonu: <span><%= user.nrtel %></span></li>
 <li>Admin?: <span>
 <% if user.is_admin %>
 	<%= "Tak" %>
 <% else %>
 	<%= "Nie" %>
 <% end %>
</span></li>
</ul> 
<span><%= link_to 'Pokaż', user %></span>
<span><%= link_to 'Edytuj', edit_user_path(user) %></span>
<span><%= link_to 'Usuń', user, :confirm => 'Jesteś pewien?', :method => :delete %></span>
<% end %>
<br /><br />
<%= link_to 'New User', new_user_path %>
