<p id="notice"><%= notice %></p>

<p>
  <b>Imię:</b>
  <%= @user.name %>
</p>

<p>
  <b>Nazwisko:</b>
  <%= @user.sec_name %>
</p>
<p>
  <b>Email</b>
  <%= @user.email %>
</p>
<p>
  <b>Nr dziennika:</b>
  <%= @user.nrdziennika %>
</p>

<p>
  <b>Nr telefonu:</b>
  <%= @user.nrtel %>
</p>

<p>
  <b>Avatar:</b>
  <% if @user.photo_file_name != nil %>
    <%= image_tag @user.photo.url(:normal) %>
  <% else %>
    Brak
  <% end %> 
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
