<%= form_for(@exam) do |f| %>
  <% if @exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% @exam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :Nazwa %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Przedmiot %><br />
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :Opis %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label "Data sprawdzianu" %><br />
    <%= f.date_select :date %>
  </div>
  
  <div class="actions">
    <%= f.submit "Zatwierdź" %>
  </div>
<% end %>
