<p id="notice"><%= notice %></p>
<div id="exam">
  <h1><%= @exam.name %></h1> 
   <!-- Tu powinno byc desc, ale to kodowanie..-->
  <p class="important">Data: <%= @exam.date %></p>
  <p class="important">Pozostało: <%= distance_of_time_in_words(Time.now, @exam.date) %></p>
  <div id="resources">
    <% @exam.resources.each do |resource| %>
      
      
      
    <% end %>
  </div>
</div>


<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
