<div id="flash_notice"></div>
<p id="notice"><%= notice %></p>
<div id="exam">
  <h1><%= @exam.name %></h1> 
  <p><%= @exam.description %></p>
  <p class="important">Data: <%= l @exam.date %></p>
  <p class="important">Pozostało: <%= distance_of_time_in_words(Time.now, @exam.date) %></p>
 
  <div id="resources">
    <h3>Materiały do nauki:</h3>
      <% @exam.resources.each do |resource| %>
      <div class="resource">
      <h4><%= resource.name %></h4>
      <p><%= resource.content if resource.content%></p>
      <% unless resource.url.blank?  %>
       <%= link_to "Link do zewnętrznego źródła nauki", resource.url %>
      <% end %>
      </div>
      <!-- -->
    <% end %>
  </div>
    <h4>Dodaj nowe źródło nauki</h4>
      <div>
        <% form_for [@exam, @exam.resources.new ], :remote => true  do |r| %>     
        <div class="field">
          <%= r.label :name, "Nazwa" %><br />
          <%= r.text_field :name %>
        </div>
        <div class="field">
          <%= r.label :url,  "Adres strony z dodatkowymi iałami" %><br/>
          <%= r.url_field :url, :message => "test" %>
        </div>
        <div class="field">
          <%= r.label :content, "Materiał pomocniczy" %><br />
          <%= r.text_area :content %>
        </div>
        <div class="field">
          <%= r.submit :Dodaj %>
         </div>
        <% end %>
      </div>
  </div>
</div>

<!-- Jesli user jest adminem to pozwala usunac i edytowac dany Egzamin i resource-->
<%- if session[:user_id ]%>
<%= link_to 'Edytuj', edit_exam_path(@exam) %> 
<%= link_to 'Usuń', @exam, :confirm => 'Jesteś pewien?', :method => :delete %>
<%- end %>
<%= link_to 'Strona główna', :root %>
