<%# encoding: utf-8 %>
<!DOCTYPE html>
<html>
<head>
  <title>Rbklaser</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery', 'rails', 'add-resource' %>

  <%= csrf_meta_tag %>
  <meta name="csrf-token" content="<%= form_authenticity_token %>" />
  <meta name="csrf-param" content="authenticity_token" />
</head>
<body>
<div id="head">
  <div id='todo'>
    Kolejna rzeczy do zrobienia:
    <ul>
      <li>Rejestracja użytkowników</li>
      <li></li>
    </ul>
    
    
  </div>
  <ul>
    <% if session[:user_id] %>
     <li></a><%= link_to "Wyloguj się", :logout %></li>
    <% else %>
      <li><%= link_to "Zaloguj", :login %></li>
    <% end %>
  </ul>
</div>
<%= yield %>
</body>
</html>
